openapi: 3.0.0
info:
  contact:
    email: support@oden.io
    name: Oden Support
    url: https://oden.io/contact/
  description: "The Oden Private Partner API exposes RESTful API endpoints for clients\
    \ to get, create and update data on the Oden Platform.\n\nThe API is based on\
    \ the OpenAPI 3.0 specification.\n### Current Version\nThe URL, and host, for\
    \ the current version is [https://api.oden.app/v2](https://api.oden.app/v2).\n\
    \n### Oden's Data Model\n- **Organization**: This represents the Organization\
    \ registered as an Oden customer. An organization has an associated collection\
    \ of users, factories, lines, etc. This is the entity a specific authentication\
    \ token is associated with.\n- **Asset** or **Machinegroup**: Assets, or machinegroups,\
    \ are collections of machines, which may either be a **Factory** or a **Line**:\n\
    \  - **Factory**: Factories are collections of lines, representing a particular\
    \ manufacturing location.\n    - **Line**: Lines are collections of machines,\
    \ often representing a particular production line. Lines may also have **Products**\
    \ mapped to them, indicating what is currently being manufactured by the specific\
    \ line.\n      - **Machine**: Machines are the physical machines that make up\
    \ a line\n- **Product**: Products capture what entities a manufacturer produces\n\
    - **Interval**: An interval is a period of time that takes place on a manufacturing\
    \ line and expresses some business concern. It's Oden's way of making metrics\
    \ aggregatable, traceable, and relatable to a manufacturer.\n  - **Run**: A run\
    \ is a production interval that labels a period of production as being work on\
    \ some single product\n  - **Batch**: A batch is a production interval that represents\
    \ a portion of a particular run\n  - **State**: A state is an interval that tracks\
    \ the availability or utilization of a line\n    - **State Category**: A state\
    \ category describes what state a line is in - such as ex. uptime, downtime, scrapping,\
    \ etc.\n    - **State Reason**: A state reason describes why a line is in a particular\
    \ state - such as \"maintenance\" being a reason for the category \"downtime\"\
    .\n  - **Custom**: A custom interval can track any other type of interval-based\
    \ data a manufacturer might want to analyze. These are created on a per-factory\
    \ basis.\n- **Target**: Targets specify values and upper/lower thresholds for\
    \ metrics when specific products are running on specific lines\n- **Scrap/Yield**:\
    \ Scrap/yield output specifies amount of produced product on a line during either\
    \ a run or batch interval. Oden will categorize all output as either scrap or\
    \ yield - as specified by the Scrap Yield Schema for a given factory. If you have\
    \ other categories, like rework/blocked/off-grade, you must choose between categorizing\
    \ those amounts as either good or bad production by specifying as scrap or yield.\
    \ Clients may also add scrap codes (i.e., reasons) to a given Scrap Yield Data\
    \ entry.\n  - **Scrap Code**: A scrap code is a code that explains the reason\
    \ for a scrap/yield raw data input - such as \"Rework\"\n- **Quality Test**: Quality\
    \ Tests are results of quality assurance tests done on site, and uploaded to Oden.\
    \ They may be attached to a single Batch or Run.\n- **Metric**: Known in factories\
    \ as \"tags\", metrics are the raw data that is collected by Oden from the machines\
    \ and devices on the factory floor.\n- **Metric Group**: Metric groups are metrics\
    \ that represent the same thing across different lines. They provide common display\
    \ names for tags and allow labeling groups of tags as measuring key types of data\
    \ like performance or production.\n- **Maintenance Work Order**: A maintenance\
    \ work order can be used to track work orders maintained in MaintainX and associate\
    \ them with an Oden line. \n\n### Best Practices\nUnder the current implementation,\
    \ the Oden API does not rate limit requests from clients.\n\nHowever, rate limiting\
    \ will be introduced in the near future and it is recommended that users design\
    \ their API\nclients to not exceed a request rate of **one per second**.\n\n###\
    \ Schema\nAll v2 API access is over HTTPS and accessed from https://api.oden.app/v2\n\
    All data is sent and received as JSON.\n\nAPI requests with duplicate keys will\
    \ process only the data for the first key detected and ignore the rest, so it's\
    \ not recommended. Batching multiple messages in this way is currently not possible.\n\
    \  - Example of duplicate key in JSON: {\"raw_data\":{\"scrap\":\"10\",\"scrap\"\
    :\"100\"}}\n\nAll timestamps are returned in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Times)\
    \ format:\n\n  `YYYY-MM-DDTHH:MM:SSZ`\n\nAll durations are returned in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Times)\
    \ format with the largest unit of time being the hour:\n\n   `PT[n]H[n]M[n]S`\n\
    \nAll timestamps sent to the API in POST requests should be in ISO 8601 format.\n\
    ### HTTP Verbs\nThe ONLY HTTP call type (sometimes called *verb* or *method*)\
    \ used within Oden's API is **POST**.\nThere are three actions supported via a\
    \ **POST**; call, search, set, and delete, together supporting CRUD operations;\n\
    \  - **search** requests are used to search for and *read* objects in the Oden\
    \ Platform\n      - All Oden Objects may be uniquely identified by some combination\
    \ of, or a single, parameter.\n        - Ex a `line` my be identified by either:\n\
    \          - `id`\n          - `name` AND `factory`\n  - **set** requests are\
    \ used to *create* or *update* objects\n  - **delete** requests are used to *delete*\
    \ objects. If a delete endpoint is not yet implemented for a given object, users\
    \ may choose to update the values of a specific entity to null or 0 values.\n\n\
    ### URI Components\nAll endpoints may be accessed with the URI pattern:\n`https://api.oden.app/v2/{object}/{action}`\n\
    \nWhere:\n  - `object` is the name of the object being requested:\n       - `factory`,\
    \ `quality_test`, `interval`, `line`, etc...\n  - `action` is the name of the\
    \ action being requested\n    - `search` , `set` , `delete`\n\ne.g. `https://api.oden.app/v2/factory/search`\n\
    \n# Authentication\nClients can authenticate through the v2 API using a Token\
    \ provided by Oden. Tokens are opaque strings similar to\n[Bearer](https://swagger.io/docs/specification/authentication/bearer-authentication/)\
    \ tokens that the client must\npass in the [HTTP Authorization request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization)\
    \ in every request.\nThe syntax is as follows:\n\n`Authorization: <type> <credentials>`\n\
    \nWhere \\<type\\> is \"Token\" and \\<credentials\\> is the Token string. For\
    \ example:\n\n`Authorization: Token tokenStringProvidedByOden`\n\nAuthenticating\
    \ with an invalid Token will return `401 Unauthorized Error`.\n\nAuthenticating\
    \ with a Token that is not authorized to read requested data will return `403\
    \ Forbidden Error`.\n\nSome endpoints may require requests to be broken out by\
    \ machinegroup (i.e., line or factory) and the number of\nrequests would scale\
    \ accordingly. This multiplicity should be taken into consideration when deciding\
    \ on the\nfrequency the API client makes requests to the Oden endpoints.\n\nTo\
    \ authenticate in this [UI](https://api.oden.app/v2/ui/), click the Lock icon,\
    \ and copy/paste the token into the Authorize box.\n"
  title: Oden API
  version: 2.0.0
servers:
- description: Oden API server
  url: https://api.oden.app
security:
- APIKeyAuth: []
paths:
  /v2/line/search:
    post:
      description: |
        Search for specific Line by any Line identifier. Either:
        - `id`
        - `match: unique` or omit

        OR
        - `factory`
          - `name` or `id`
        - line `name`
        - `match: unique` or omit

        Search for all Lines for a given Factory:
        - `factory`
          - `name` or `id`
        - `match: all`
      operationId: search_lines
      requestBody:
        content:
          application/json:
            examples:
              Search for all lines of a factory:
                summary: Search for all lines of a factory
                value:
                  match: all
                  factory:
                    name: Factory A
              Search for line by name at a factory:
                summary: Search for line by name at a specific factory
                value:
                  match: unique
                  name: Line 01
                  factory:
                    name: Factory A
              Search for line by secondary name:
                summary: Search for line by secondary name
                value:
                  match: unique
                  secondary_name: Line 01 Secondary
                  factory:
                    name: Factory A
            schema:
              $ref: "#/components/schemas/Line"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Line"
                type: array
          description: A list of lines.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Search production lines
      tags:
      - Machine Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/factory/search:
    post:
      description: |
        Search for a specific Factory by a unique indentifier:
        - `name`
        - `match: unique` or omit

        OR

        - `id`
        - `match: unique` or omit

        Search for all factories:
        - `match: all`
      operationId: search_factories
      requestBody:
        content:
          application/json:
            examples:
              Search factory by name:
                summary: Search for factory by name
                value:
                  name: Factory A
              Search factory by secondary name:
                summary: Search for factory by secondary name
                value:
                  secondary_name: Factory A Secondary
                  match: unique
              Search for all factories:
                summary: Search for all factories
                value:
                  match: all
            schema:
              $ref: "#/components/schemas/Factory"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Factory"
                type: array
          description: A list of factories.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Search factories
      tags:
      - Machine Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/metric_group/search:
    post:
      description: |
        Search for a specific Metric Group:

        - `name`
        - `match: unique` or omit

        OR

        - `id`
        - `match: unique` or omit

        Search for all Metric Groups:
        - `match: all`
      operationId: search_metric_groups
      requestBody:
        content:
          application/json:
            examples:
              Search for all metric groups:
                summary: Search for all metric groups
                value:
                  match: all
            schema:
              $ref: "#/components/schemas/MetricGroup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/MetricGroup"
                type: array
          description: A list of metric groups.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Search metric groups
      tags:
      - Metric Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product/search:
    post:
      description: |
        Search for specific Product:
        - `name`
        - `match: unique` or omit

        OR

        - `id`
        - `match: unique` or omit

        May be used to confirm a Product exists or to get a Product `id` if `name` is known, or `name` if `id` is known.
      operationId: search_products
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: A list of products.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
      summary: Search products
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product/set:
    post:
      description: |
        To **create** a new Product, include `name`, and omit `id` field.

        To **update** an existing Product, include the `id` of the existing product the updated `name`.
      operationId: set_product
      requestBody:
        content:
          application/json:
            examples:
              create:
                summary: Create a product.
                value:
                  name: product name
              update:
                summary: Update existing product by providing the product ID.
                value:
                  name: updated product name
                  id: 0012ab4d-1234-123a-8c76-6ea2344be6df
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
      summary: Create or update a product
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product/delete:
    post:
      description: |
        Delete a Product by unique identifier:
        - `name`
        - `match: unique` or omit

        OR

        - `id`
        - `match: unique` or omit

        A deleted Product will not show up in Product searches or dropdowns, but associated Intervals will still exist.
      operationId: delete_product
      requestBody:
        content:
          application/json:
            examples:
              delete by product id:
                summary: Delete product by product id.
                value:
                  id: 0012ab4d-1234-123a-8c76-6ea2344be6df
              delete by product name:
                summary: Delete product by product name.
                value:
                  name: EX0PRODNAME
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Delete a product
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product_mapping/search:
    post:
      description: |
        Searches for Product Mappings.

        May be used to confirm a Product Mapping exists.

        Much like `product/search`, may be used to get `name`s of line or product from `id`s,
        or `id`s from `name`s.
      operationId: search_product_mappings
      requestBody:
        content:
          application/json:
            examples:
              match by product ID and line ID:
                summary: Match product mapping with given product and line ID.
                value:
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  product:
                    id: b5da7b1f-3c16-5084-a5da-95b2eba5a4db
              match by product name and line name+factory:
                summary: Match product mapping with given product and line name  -
                  alternative example.
                value:
                  line:
                    name: Line 01
                    factory:
                      id: e32d004e-ce8b-40bf-bbc1-14fd907d2f47
                  product:
                    name: 2AFBCA5E
              match all by line:
                summary: Match all product mappings for a given line
                value:
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  match: all
            schema:
              $ref: "#/components/schemas/ProductMapping"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductMapping"
                type: array
          description: A list of product mappings.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
      summary: Search product-to-line mappings
      tags:
      - Product Mappings
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product_mapping/set:
    post:
      description: |
        Map a Product to a Line - implying this Line can produce, or is producing this Product.

        If the supplied Product doesn't exist, it will be created.
      operationId: set_product_mapping
      requestBody:
        content:
          application/json:
            examples:
              set by product ID and line ID:
                summary: Set product mapping with given product and line ID.
                value:
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  product:
                    id: b5da7b1f-3c16-5084-a5da-95b2eba5a4db
              set by product name and line name+factory:
                summary: Set product mapping with given product and line name  - alternative
                  example.
                value:
                  line:
                    name: Line 01
                    factory:
                      id: e32d004e-ce8b-40bf-bbc1-14fd907d2f47
                  product:
                    name: 2AFBCA5E
            schema:
              $ref: "#/components/schemas/ProductMapping"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Map a product to a line
      tags:
      - Product Mappings
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product_attribute/search:
    post:
      description: |
        Searches for Product Attributes

        Product attributes may be searched by ID, product, or, display_name - in that order.

        If an ID is supplied, it will be used to search for a Product Attribute, and display_name, product will be ignored.

        If a product is supplied (and no ID), it will be used to search for a Product Attribute, and display_name will be ignored.
      operationId: search_product_attributes
      requestBody:
        content:
          application/json:
            examples:
              match by product:
                summary: Match product mapping with given product.
                value:
                  product:
                    id: b5da7b1f-3c16-5084-a5da-95b2eba5a4db
              match by attribute display_name:
                summary: Match product mapping with given product attribute display_name.
                value:
                  display_name: Cable Color
            schema:
              $ref: "#/components/schemas/ProductAttribute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductAttribute"
                type: array
          description: A list of product attributes - potentially with products and
            values.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
      summary: Search product attributes
      tags:
      - Product Attributes
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/product_attribute/set:
    post:
      description: |
        Set a Product Attribute for a Product.

        If the supplied Product Attribute doesn't exist, it will be created.

        If the supplied Product Attribute Value doesn't exist, it will be created.

        If the supplied Product Attribute Value is already set for the Product, it will be updated.

        If the supplied Product Attribute Value is not set for the Product, it will be added.

        Supplied Product must exist already.
      operationId: set_product_attribute
      requestBody:
        content:
          application/json:
            examples:
              set by product ID, attribute name and attribute display_name:
                summary: Set product attribute with given product and attribute display_name.
                value:
                  product:
                    id: b5da7b1f-3c16-5084-a5da-95b2eba5a4db
                  display_name: Cable Color
                  name: cable_color
                  value: Red
              set by product name, attribute name and attribute display_name:
                summary: Set product attribute with given product and attribute display_name.
                value:
                  product:
                    name: 2AFBCA5E
                  display_name: Cable Color
                  name: cable_color
                  value: Red
            schema:
              $ref: "#/components/schemas/ProductAttribute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductAttribute"
                type: array
          description: A list of product attributes - potentially with products and
            values.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
      summary: Create or update a product attribute
      tags:
      - Product Attributes
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/target/search:
    post:
      description: |
        Search for a Target by `line`, `metric_group`, and `product`. For each of these inputs, any of
        their unique indentifiers (as described in their `search` endpoint) may be used. See examples.
      operationId: search_targets
      requestBody:
        content:
          application/json:
            examples:
              Search by for target product, line, and metric group:
                summary: "Search for target by metric group, line, product"
                value:
                  line:
                    id: 0012ab4d-1234-123a-8c76-6ea2344be6df
                  metric_group:
                    name: metric group name
                  product:
                    id: 0012ab4d-1234-123a-8c76-6ea2344be6df
            schema:
              $ref: "#/components/schemas/Target"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Target"
                type: array
          description: A list of targets.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Search metric targets
      tags:
      - Targets
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/target/set:
    post:
      description: |
        Create or update a Target.

        First the endpoint will search for a Target by `metric_group`, `product`, and `line`:
        - If the target does not exist a new target is created.
        - If the product or its mapping to the given line does not exist, they will be created.
        - If a target exists but with different parameters, it will be updated.
        - If the target exists with all the same parameters nothing is done.
      operationId: set_target
      requestBody:
        content:
          application/json:
            examples:
              set by product, line, and metric group:
                summary: "Set target by metric group, line, product - each must be\
                  \ a valid search params."
                value:
                  line:
                    id: 0012ab4d-1234-123a-8c76-6ea2344be6df
                  metric_group:
                    name: metric group name
                  product:
                    id: 0012ab4d-1234-123a-8c76-6ea2344be6df
                  lsl: 100.0
                  target_value: 200
                  usl: 300.55
              set by product, line, and metric group II:
                summary: "Set target by metric group, line, product - alternative\
                  \ example."
                value:
                  line:
                    name: line name (name only also requires factory)
                    factory:
                      id: 0012ab4d-1234-123a-8c76-6ea9904be6df
                  metric_group:
                    id: 0012ab4d-1234-123a-8c76-6ea9904be6df
                  product:
                    name: product name
                  lsl: 1
                  target_value: 2
                  usl: 3
            schema:
              $ref: "#/components/schemas/Target"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Target"
          description: Updated target.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Create or update a metric target
      tags:
      - Targets
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval/search:
    post:
      description: |
        Searches for intervals by `type`, `line` and other optional parameters:

        - `id` (for a specific Interval)
        - `match: unique` or omit

        OR

        - `match : last` for the most recent Interval of the given type on the given line

        OR

        - `start_time` and `end_time` (for a range of Intervals over a period of time)
        - `match: all` for more than one result

        OR

        - match all intervals for all lines in a given factory

        AND/OR

        - `name` (only for Intervals with a matching name)
      operationId: search_intervals
      requestBody:
        content:
          application/json:
            examples:
              Search for states on a line over a time period:
                summary: Search for states on a line over a time period
                value:
                  type:
                    name: STATE
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  start_time: 2021-04-04T08:00:04Z
                  end_time: 2021-04-10T08:00:04Z
                  match: all
              Search for an custom interval type interval:
                summary: Search for an operator id type interval
                value:
                  id: 1809d88adf0
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  type:
                    name: operator id
              Search for states on all lines in a given factory:
                summary: Search for states on all lines in a given factory
                value:
                  type:
                    name: STATE
                  line:
                    factory:
                      name: Factory A
                    match: all
                  start_time: 2021-04-04T08:00:04Z
                  end_time: 2021-04-10T08:00:04Z
                  match: all
            schema:
              $ref: "#/components/schemas/Interval"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Interval"
                type: array
          description: A list of intervals.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Search intervals on a line
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval/set:
    post:
      description: |
        Create or update an Interval.

        Must include `line` and `type`. `match` must be omitted, `unique` or `last`

         - If `id` is not supplied, a new Interval will be created.

         - If `id` is supplied, existing Interval will be updated. This interval's start time can be modified using `start_time` field.

        To update a specific interval supply the `id` of that interval.

        If the interval exists with all the same parameters nothing is done.

        To update the most recent Interval of a given `type` on a `line` one may use `match: last` and omit `id`

        For `RUN` type: if `product` and/or `product_mapping` does not exist a new one will be created. Further a `target`
        may be set by adding a `target` to the metadata field. The `line` and `product` for this target will be the same as the interval.

        Please see examples for more specific information.
      operationId: set_interval
      requestBody:
        content:
          application/json:
            examples:
              Create a Run, full schema:
                summary: Create a Run
                value:
                  type:
                    name: RUN
                  name: example_run
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                    name: Line 01
                    factory:
                      id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                      name: Factory A
                  start_time: 2021-04-04T08:00:04Z
                  metadata:
                    product:
                      name: Example Product
              Create a Run, full schema, with target:
                summary: Create a Run with a target
                value:
                  type:
                    name: RUN
                  name: example_run
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                    name: Line 01
                    factory:
                      id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                      name: Factory A
                  start_time: 2021-04-04T08:00:04Z
                  metadata:
                    product:
                      name: Example Product
                    target:
                      lsl: 1
                      target_value: 2
                      usl: 3
                      metric_group:
                        name: metric group name
              Create a Run, UUIDs only:
                summary: Create a Run - uuids only
                value:
                  type:
                    name: RUN
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  metadata:
                    product:
                      id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  start_time: 2021-04-04T08:00:04Z
              Create a Run, names only:
                summary: Create a Run - names only
                value:
                  type:
                    name: RUN
                  line:
                    name: Line 01
                    factory:
                      name: Factory A
                  metadata:
                    product:
                      name: Example Product
                  start_time: 2021-04-04T08:00:04Z
              Create a Batch:
                summary: Create a Batch
                value:
                  type:
                    name: BATCH
                  name: example_batch
                  line:
                    name: Line 01
                    factory:
                      name: Factory A
                  start_time: 2021-04-04T08:00:04Z
              Update a custom interval type interval:
                summary: Update an operator id type interval
                value:
                  id: 1809d88adf0
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  name: updated_operator_id
                  type:
                    name: operator id
              Create a Run with a corresponding deletion example:
                summary: Create a Run with a corresponding deletion example
                value:
                  type:
                    name: RUN
                  name: deletable_run
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  start_time: 2021-04-04T08:00:04Z
                  metadata:
                    product:
                      name: Example Product
              Create a State with a corresponding deletion example:
                summary: Create a State with a corresponding delete example
                value:
                  type:
                    name: STATE
                  name: deletable_state
                  line:
                    id: 4787d6fb-f01e-405b-a38d-db23e32fa0d1
                  start_time: 2021-04-04T08:00:04Z
                  metadata:
                    category:
                      name: Planned Downtime
                    reason:
                      name: Preventive Maintenance
              Create a Batch with a corresponding deletion example:
                summary: Create a Batch with a corresponding deletion example
                value:
                  type:
                    name: BATCH
                  name: deletable_batch
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  start_time: 2021-04-04T08:00:04Z
            schema:
              $ref: "#/components/schemas/Interval"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Set interval:
                  value:
                  - type:
                      id: 6f996655-4a3e-4b55-8121-724a4d14ca08
                    line:
                      id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                    name: example_interval
                    start_time: 2022-06-01T08:20:04Z
              schema:
                items:
                  $ref: "#/components/schemas/Interval"
                type: array
          description: Updated interval.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
      summary: Create or update an interval
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval/update:
    post:
      description: |
        Update an existing Interval. This endpoint only updates intervals and will not create new ones.

        Must include `line`, `type`, and `id`. The `id` must reference an existing interval.

        This interval's properties can be modified using the following fields:
        - `name`: Update the interval name
        - `start_time`: Modify the start time
        - `end_time`: Modify the end time
        - `metadata`: Update metadata (product, target, category, reason, etc.)

        If the interval does not exist, a 404 error will be returned.

        **Note:** The `id` must be obtained from either:
        - The response when creating an interval via `/v2/interval/set`
        - Searching for intervals via `/v2/interval/search`
      operationId: update_interval
      requestBody:
        content:
          application/json:
            examples:
              Update a Run interval's product:
                summary: Update a Run interval with a new product
                value:
                  id: 178b9a1ec20
                  type:
                    name: RUN
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  metadata:
                    product:
                      name: Updated Product
              Update a Run interval with target:
                summary: Update a Run interval with a new target
                value:
                  id: 178b9a1ec20
                  type:
                    name: RUN
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  metadata:
                    product:
                      name: Example Product
                    target:
                      lsl: 1
                      target_value: 2
                      usl: 3
                      metric_group:
                        name: metric group name
              Update a custom interval:
                summary: Update a custom interval type's name and time
                value:
                  id: 1809d88adf0
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  name: updated_operator_id
                  type:
                    name: operator id
                  start_time: 2021-04-04T09:00:04Z
              Update a State interval:
                summary: Update a State interval's category and reason
                value:
                  id: 178a61c0f00
                  type:
                    name: STATE
                  line:
                    id: 4787d6fb-f01e-405b-a38d-db23e32fa0d1
                  metadata:
                    category:
                      name: Unplanned Downtime
                    reason:
                      name: Equipment Failure
              Update a Batch interval:
                summary: Update a Batch interval's name
                value:
                  id: 178b9a1ec20
                  type:
                    name: BATCH
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  name: updated_batch_name
            schema:
              $ref: "#/components/schemas/Interval"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Interval"
                type: array
          description: Updated interval.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Update an interval
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval/delete:
    post:
      description: |
        Delete an interval by `type`, `line`, and `id`

        **Note:** The `id` must be obtained from either:
        - The response when creating an interval via `/v2/interval/set`
        - Searching for intervals via `/v2/interval/search`

        The examples below use placeholder IDs - replace with actual IDs from your system.
      operationId: delete_interval
      requestBody:
        content:
          application/json:
            examples:
              Delete a Run interval by ID:
                summary: Delete a Run interval by ID (replace with actual ID)
                value:
                  id: <REPLACE_WITH_ACTUAL_RUN_UUID>
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  type:
                    name: RUN
              Delete a State interval by ID:
                summary: Delete a State type interval by ID (replace with actual ID)
                value:
                  id: <REPLACE_WITH_ACTUAL_STATE_ID>
                  line:
                    id: 4787d6fb-f01e-405b-a38d-db23e32fa0d1
                  type:
                    name: STATE
              Delete a Batch interval by ID:
                summary: Delete a Batch type interval by ID (replace with actual ID)
                value:
                  id: <REPLACE_WITH_ACTUAL_BATCH_UUID>
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  type:
                    name: BATCH
              Delete a custom interval:
                summary: Delete an "operator id" type interval
                value:
                  id: 1809d88adf0
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  type:
                    name: operator id
            schema:
              $ref: "#/components/schemas/Interval"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Interval"
                type: array
          description: A list containing the deleted interval.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Delete an interval
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/intervals/set:
    post:
      description: |
        Create (Does not update) a group of custom intervals, for the same `type` and `line`.
        Line and type do not need to be included in each individual interval, just once at the top level.

        Limitations:
        - Cannot excees 2500 intervals per request.
        - Will not write over other intervals
        - Does not support "batch", "run", or "state" interval types.
      operationId: bulk_set_intervals
      requestBody:
        content:
          application/json:
            examples:
              Create a set of intervals:
                summary: Create a set of intervals
                value:
                  type:
                    name: operator id
                  line:
                    name: Line 01
                    factory:
                      name: Factory A
                  intervals:
                  - start_time: 2021-04-04T08:00:04Z
                    end_time: 2021-04-04T08:30:04Z
                    name: Example Value
                  - start_time: 2021-04-04T09:00:04Z
                    end_time: 2021-04-04T09:30:04Z
                    name: Example Value 2
            schema:
              $ref: "#/components/schemas/IntervalBulkCreate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: A list of created interval IDs.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Create a set of intervals
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/intervals/update:
    post:
      description: |
        Update multiple existing intervals. This endpoint only updates intervals and will not create new ones.

        Each interval in the `intervals` array must include an `id` that references an existing interval.

        Updatable fields for each interval:
        - `name`: Update the interval name
        - `start_time`: Modify the start time
        - `end_time`: Modify the end time
        - `metadata`: Update metadata (product, target, category, reason, etc.)

        The endpoint will attempt to update all intervals and return information about successes and failures:
        - Successfully updated intervals are returned in the response
        - Failed intervals are listed with their IDs and error reasons

        Limitations:
        - Cannot exceed 2500 intervals per request
        - All intervals must be of the same `type` and on the same `line`

        **Note:** Interval IDs must be obtained from either:
        - The response when creating intervals via `/v2/interval/set` or `/v2/intervals/set`
        - Searching for intervals via `/v2/interval/search`
      operationId: bulk_update_intervals
      requestBody:
        content:
          application/json:
            examples:
              Update multiple custom intervals:
                summary: Update a set of custom intervals
                value:
                  type:
                    name: operator id
                  line:
                    id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  intervals:
                  - id: 1809d88adf0
                    name: updated_operator_1
                    start_time: 2021-04-04T08:00:04Z
                    end_time: 2021-04-04T08:30:04Z
                  - id: 1809d88adf1
                    name: updated_operator_2
                    start_time: 2021-04-04T09:00:04Z
                    end_time: 2021-04-04T09:30:04Z
              Update multiple State intervals:
                summary: Update multiple State intervals with new categories
                value:
                  type:
                    name: STATE
                  line:
                    name: Line 01
                    factory:
                      name: Factory A
                  intervals:
                  - id: 178a61c0f00
                    metadata:
                      category:
                        name: Unplanned Downtime
                      reason:
                        name: Equipment Failure
                  - id: 178a61c0f01
                    metadata:
                      category:
                        name: Planned Downtime
                      reason:
                        name: Preventive Maintenance
            schema:
              $ref: "#/components/schemas/IntervalBulkUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulk_update_intervals_200_response"
          description: Response containing successfully updated intervals and any
            failures that occurred.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Update a set of intervals
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/intervals/delete:
    post:
      description: |
        Delete a group of intervals by a single `type` and a single `line`, between `start_time` and `end_time`. Returns a list of intervals that were not deleted, and the number of intervals deleted.

        Limitations:
        - Cannot exceed 15,000 intervals per request, or 30 days worth of data.
        - Currently does not support "batch" or "run" interval types.
      operationId: bulk_delete_intervals
      requestBody:
        content:
          application/json:
            examples:
              Delete a set of intervals:
                summary: Delete a set of intervals in range
                value:
                  line:
                    name: Line 01
                    factory:
                      name: Factory A
                  type:
                    name: operator id
                  start_time: 2021-04-04T08:00:04Z
                  end_time: 2021-04-10T08:00:04Z
            schema:
              $ref: "#/components/schemas/IntervalBulkDelete"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulk_delete_intervals_200_response"
          description: A list containing any intervals found but not deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Delete intervals in a time range
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval_type/search:
    post:
      description: |
        Search for Interval Types by `name`, `id`, or just `match: all` to return all Interval Types associated with the your organization.
        Basic Interval Types -- `RUN`, `BATCH`, and `STATE` -- are dedicated interval types that come out-of-the-box with Oden.
        Custom Interval Types may be created by users.
      operationId: search_interval_types
      requestBody:
        content:
          application/json:
            examples:
              Search for all interval types:
                summary: Search for all interval types.
                value:
                  match: all
              Search for interval type by name:
                summary: Search for all interval types.
                value:
                  name: operator id
                  match: unique
            schema:
              $ref: "#/components/schemas/IntervalType"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalType"
                type: array
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Search interval types
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval_type/set:
    post:
      description: |
        **Create** (no `id` in the body): send `name` (required) and optional `metadata_schema` / `tags`.

        **Update** (with `id`): send the interval type’s `id` and optional `metadata_schema` / `tags` only. Do not send `name` for updates; including `name` returns 400. Renames are not supported.

        **Patch (update only)**: `metadata_schema` — if the key is missing, the existing value is kept; if present, it replaces. `tags` — if the key is missing, tags are unchanged; `null` leaves tags unchanged; `[]` clears tags; a non-empty array replaces.

        **Built-in types (RUN, BATCH, STATE) cannot be created, set, or deleted.**
      operationId: set_interval_type
      requestBody:
        content:
          application/json:
            examples:
              create:
                summary: Create a custom interval type
                value:
                  name: operator id
              update by id (metadata and tags only):
                summary: Update an existing type by id
                value:
                  id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
                  metadata_schema: "{\"type\":\"object\"}"
                  tags:
                  - a
            schema:
              $ref: "#/components/schemas/IntervalTypeSet"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntervalType"
          description: The interval type after set.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Create or update a custom interval type
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/interval_type/delete:
    post:
      description: |
        Delete an existing custom Interval Type. `id` is required. Built-in types (RUN, BATCH, STATE) cannot be deleted.
      operationId: delete_interval_type
      requestBody:
        content:
          application/json:
            examples:
              Delete a custom interval type by id:
                summary: Delete a custom interval type by id
                value:
                  id: 2fc8b5e5-fb88-48a7-9c35-4a763206608c
            schema:
              $ref: "#/components/schemas/IntervalType"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntervalType"
          description: The deleted interval type.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
      summary: Delete a custom interval type
      tags:
      - Intervals
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/scrap_yield/search:
    post:
      description: |
        Searches for scrap/yield records for a given Interval
      operationId: search_scrap_yield
      requestBody:
        content:
          application/json:
            examples:
              Search for scrap yield data by interval:
                summary: Search for scrap yield data by interval.
                value:
                  interval:
                    id: 178b9a1ec20
                    line:
                      name: Line 01
                      factory:
                        name: Factory A
                    type:
                      name: BATCH
                  data:
                    match: ALL
            schema:
              $ref: "#/components/schemas/search_scrap_yield_request"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Search scrap/yield records
      tags:
      - Scrap/Yield Data
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/scrap_yield/set:
    post:
      description: |
        Uploads scrap or yield raw data.

        Notes:

        - If `id` is provided the existing Scrap/Yield record will be updated.

        - If `id` is omitted a new Scrap/Yield record will be created.

        - The scrap yield for an interval is an aggregate of all scrap yield raw data records associated with that interval
            - Therefore, multiple scrap yield records can exist for a single interval, each contributing to the "aggregate" (i.e. sum total) scrap/yield of that interval

        - Changing an aggregate can be done by either adding another record with an offset, or updating an existing record.
            - Example: If you have 3 scrap records in an interval: 50 50 50 = 150 and want to make the aggregate 100 for a given interval, either update one of the existing scrap records from 50 -> 0, or add a new one with value -50

        - Duplicate keys should be avoided, see Schema docs above for details.
      operationId: set_scrap_yield
      parameters:
      - description: |
          Optional pattern type to use for matching:
          - `exact` for exact match
          - `contains` for the string to be contained in the query
          - `regex` to match based on a regular expression
        explode: true
        in: query
        name: pattern
        required: false
        schema:
          default: exact
          enum:
          - exact
          - contains
          - regex
          type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              Create new scrap/yield record:
                summary: Create new scrap/yield record.
                value:
                  data:
                    raw_data:
                      scrap: 100
                      yield: 50
                    timestamp: 2022-06-15T08:00:00Z
                  interval:
                    id: 178b9a1ec20
                    line:
                      name: Line 01
                      factory:
                        name: Factory A
                    type:
                      name: BATCH
              Update existing scrap/yield record:
                summary: Update scrap/yield record.
                value:
                  data:
                    id: a4356a39-212b-4846-aa1d-08f4a5d3c296
                    raw_data:
                      scrap: 100
                      yield: 50
                    timestamp: 2022-06-15T08:00:00Z
                  interval:
                    id: 178b9a1ec20
                    line:
                      name: Line 01
                      factory:
                        name: Factory A
                    type:
                      name: BATCH
            schema:
              $ref: "#/components/schemas/set_scrap_yield_request"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Create or update a scrap/yield record
      tags:
      - Scrap/Yield Data
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/scrap_yield/delete:
    post:
      description: |
        Deletes Scrap Yield record by ID and line
      operationId: delete_scrap_yield
      requestBody:
        content:
          application/json:
            examples:
              Delete scrap yield record by id and line:
                summary: Delete scrap yield record.
                value:
                  data:
                    id: 16a8fa1f-ba0a-4040-81c9-ac4dd054bdbb
                  interval:
                    line:
                      name: Line 01
                      factory:
                        name: Factory A
            schema:
              $ref: "#/components/schemas/search_scrap_yield_request"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Delete a scrap/yield record
      tags:
      - Scrap/Yield Data
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/quality_test/set:
    post:
      description: |
        Create or update a Quality Test record:
        - To update `id` must be supplied. Only the supplied fields will be updated, the rest will remain unchanged.
        - If `id` is not supplied, a new `quality_test_record` will be created.
      operationId: set_quality_test
      requestBody:
        content:
          application/json:
            examples:
              Create quality test record:
                summary: Create quality test record.
                value:
                  interval:
                    id: 178a61c0f00
                    line:
                      factory:
                        id: e32d004e-ce8b-40bf-bbc1-14fd907d2f47
                      name: Line 01
                    type:
                      id: e07da9a8-f2fd-480c-a315-d4c84fcac08c
                      name: BATCH
                  quality_schema:
                    id: "66"
                  raw_data:
                    fdr: test string 3
                    impedance: 6.789
                    test_length: 10
                    test_rl: test string
                  timestamp: 2022-02-18T16:28:04Z
            schema:
              $ref: "#/components/schemas/QualityTest"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: User has provided either no credentials or invalid credentials
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: |
            User has provided valid credentials but is not authorized to access the entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_500_response"
          description: |
            An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Endpoint is not yet implemented
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_400_response"
          description: An error occurred regarding one of the input parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          description: Entity not found
      summary: Create or update a quality test result
      tags:
      - Quality Test
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/quality_test/search:
    post:
      description: |
        Searches for Quality Test[s] by:

        - `id`

        OR

        - `interval` (of type `RUN` or `BATCH`)
      operationId: search_quality_tests
      requestBody:
        content:
          application/json:
            examples:
              Search quality test by id:
                summary: Use test ID to identify quality test.
                value:
                  id: 16a8fa1f-ba0a-4040-81c9-ac4dd054bdbb
                  match: unique
              Search quality test by interval:
                summary: Use BATCH interval to identify quality tests.
                value:
                  interval:
                    name: example-batch-interval
                    line:
                      name: Line 01
                      factory:
                        name: Factory A
                    type:
                      name: BATCH
                  match: all
            schema:
              $ref: "#/components/schemas/QualityTest"
        required: true
      responses:
        "200":
          description: Successful response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/search_lines_409_response"
          description: |
            A {match: "unique"} was requested, but multiple entities matched the search parameters.
        "401":
          content:
            application/json:
[...]
